.section {
    min-height: 100vh;
    display: flex;
    align-items: center;

    box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.3);

    border-radius: 0 25vh 0 0;

    &--wood {
       background: $wood-dark; 
    }

    &--orange {
        background-color: $brand-orange;

        @media (max-width: $screen-sm) {
            padding-bottom: 50vh !important;
            margin-bottom: -20vh !important;
        }
    }

    &--light {
        background-color: $off-white;
        display: block;
        padding: 5rem 0;

        h1, h2, h3, p {
            color: $shuttle-gray;
        }
    }

    &--dark {
        background-color: $dusty-gray;
    }

    @media (max-width: $screen-sm) {
        padding: 4rem 1rem;
    }    
}

.row--flex {
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
        display: block;
    }
}